body {
    padding-left: 10em;
    padding-right: 10em;
}

#page {
	width: 700px;
	margin: auto;
}

div#nav {
	width: 7em;
	margin-left: -10em;
}
div#nav>ul {
	margin: 0;
	padding: 0;
	list-style: none;
	position: fixed;
	width: 7em;
	text-align: right;
}
