#page {
	width: 700px;
	margin: auto;
}

div#nav {
	width: 7em;
	position: relative;
	left: -10em;
}
div#nav>ul {
	margin: 0;
	padding: 0;
	list-style: none;
	position: fixed;
	width: 7em;
	text-align: right;
}
