h1,h2,h3,h4,h5,h6 {
	font-family: Palatino, "Palatino Linotype", "Hoefler Text", Times, "Times New Roman", serif;
}

body {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

/* Left margin to make sure we always show the nav.
   Right margin to keep things balanced. */
body {
	padding-left: 10em;
	padding-right: 10em;
}

#page {
	width: 700px;
	margin: auto;
}

div#nav {
	width: 7em;
	margin-left: -10em;
	clear: both;
}
div#nav>ul {
	margin: 0;
	padding: 0;
	list-style: none;
	position: fixed;
	width: 7em;
	text-align: right;
}

h1 .connect {
	display: none;
}

h1 .name {
	display: block;
	float: left;
	font-size: 1.6em;
}

h1 .description {
	display: block;
	float: left;
	clear: left;
	font-size: 0.9em;
	font-weight: normal;
	font-style: italic;
	margin-top: -0.3em;
}

#version {
	margin-left: 3em;
	float: left;
	font-style: italic;
	padding-top: 0.2em;
}

#version .connect {
	display: none;
}

#version .number:before {
	content: "v";
}

/* Clear to avoid floated version number */
h2 {
	clear: both;
}

.title-acronym {
    text-decoration: underline;
}

