<!DOCTYPE html>
<html>
  <head>
	<title>{{ page.title | strip_html }}</title>
	<!--[if ! lte IE 6]><!-->
	<link rel="stylesheet" href="stylesheets/main.css" type="text/css" media="screen, projection" charset="utf-8" />
	<!--<![endif]-->
	<!--[if lte IE 6]><link rel="stylesheet" href="stylesheets/ie6.0.3.css" media="screen, projection" /><![endif]-->
  </head>

  <body>
	  <div id="page">

		  <h1>{{ page.title }}</h1>

		  {% if page.current_version %}
		  <div id="version"><span class="connect">Version </span><span class="number">{{ page.current_version }}</span></div>
		  {% endif %}

		  <div id="nav"><ul>
			  {% for nav in page.nav %}
			  <li><a href="#{{ nav.link | downcase }}">{{ nav.name }}</a></li>
			  {% endfor %}
		  </ul></div>

		  <div id="content">
			  {{ content }}
		  </div>

	  </div>

	<a href="http://github.com/youngian/{{ page.github_name }}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub" /></a>
  </body>
</html>

